	/*
  	alignpoint icon font: alignpoint
  	Creation date: 05/06/2020 04:46
  	*/

@font-face {
  font-family: "alignpoint";
  src: url("./alignpoint.eot");
  src: url("./alignpoint.eot?#iefix") format("embedded-opentype"),
       url("./alignpoint.woff2") format("woff2"),
       url("./alignpoint.woff") format("woff"),
       url("./alignpoint.ttf") format("truetype"),
       url("./alignpoint.svg#alignpoint") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "alignpoint";
    src: url("./alignpoint.svg#alignpoint") format("svg");
  }
}

[class^="alignpoint-"]:before, [class*=" alignpoint-"]:before,
[class^="alignpoint-"]:after, [class*=" alignpoint-"]:after {   
  font-family: alignpoint;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.alignpoint-shopping:before { content: "\f100"; }
.alignpoint-not-allowed:before { content: "\f101"; }