@media (min-width: 1200px) {}
/* 960px <= width < 1200px */
@media only screen and (min-width: 960px) and (max-width: 1200px) {}

@media(max-width:1200px) {
	.wk-marketplace-label{
		font-size: 25px;
	}
}

@media(max-width:1199px) {
	.vmagicmenu,
	.magicmenu{
		display: none!important;
	}
	.header-icons{
		position: static;
	}
	.content-logo .nav-toggle{
		display: block;
		position: absolute;
		top: 130%;
		cursor: pointer;
	}
	.sections .nav-sections-item-content > .navigation{
		position: static;
		padding: 0;
	}
	.nav-sections{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 999;
		max-width: 320px;
		height: 100%;
		overflow-y:auto;
		background-color: #666666;
		-webkit-transform:translate(-470px, 0);
		-ms-transform:translate(-470px, 0);
		-o-transform:translate(-470px, 0);
		transform:translate(-470px, 0);
		transition: all .3s ease;
		-moz-transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
	}
	.nav-open .nav-sections{
		-webkit-transform:translate(0, 0);
		-ms-transform:translate(0, 0);
		-o-transform:translate(0, 0);
		transform:translate(0, 0);
	}
	.nav-open .sections .nav-sections-item-content > .navigation{
		display: block;
	}
	.nav-open .nav-mobile{
		display: block!important;
	}
	.nav-open .content-logo .nav-toggle:after{
		content: "";
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 900;
		background-color: rgba(0, 0, 0, 0.27);
	}
	.nav-open .page-wrapper{
		position: relative;
		left: 100%;
	}
	.level-top-mega .mage-column.cat-mega{
		position: static!important;
		background-color: transparent!important;
		border: none!important;
		padding: 0 !important;
	}
	.nav-sections .mean-nav ul li li a{
		font-size: 14px!important;
		padding: 10px 0 10px 25px!important;
		color: #fff!important;
		margin: 0 !important;
	}
	

}

/* 992px <= width < 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
	.top-banner .container-offer{width: 970px;}
	.hidden-top-bar{width: 41.6667%;}
	.setting-up{width: 38.3333%;}
	.alotheme .tool-padding {margin: 0 10px 0 0;}
	.alotheme .wishlist, .alotheme .onclick{padding: 0 0 0 5px;}
	.alotheme .text-account,.content-cart .minicart-wrapper .showcart .price{font-size: 12px;}
	.alotheme .text-bold,.content-cart .minicart-wrapper .showcart .text{font-size: 13px;}
	.alotheme .icons{font-size: 27px;}
	.alotheme .wishlist-icons{font-size: 23px;}
	.content-cart .minicart-wrapper .showcart .crat-icon:before{font-size: 25px;}
	.magicmenu .nav-desktop .level0.home{margin-left: 0;}
	.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children,
	.vmagicmenu .level0 .level-top-mega .mage-column .children{width:185px;}
	.magicmenu .nav-desktop .level0 .level-top{padding: 15px 9px;}
	.magicmenu .level0 .level-top img {padding-right: 10px;}
	.vmagicmenu,.vmagicmenu .vmagicmenu-narrow{width: 230px;}
	.vmagicmenu .vmagicmenu-narrow > li:nth-child(n+12){display: block;}
	.vmagicmenu .vmagicmenu-narrow > li:nth-child(n+8) {display: none;}
	.cms-index-index .header-container-fixed, .header-container-fixed{position: static;animation-duration: 0;animation-fill-mode: none;animation-name: none;box-shadow: none;}
	.store_info .social-link{margin: 0 10px 5px 0;}
	.home-slider .slick-slide.slick-active .figcaption .caption1,.home-slider .slick-slide.slick-active .figcaption .caption2{font-size: 30px;line-height: 30px;}
	.timer-box{margin-bottom: 5px;}
	/* Banner */
	.banner-boder-zoom a img {max-width: 100%;}
	.socials > li {padding-left: 15px;}
	/* Policy / service */
	.alo-blog .post-description{padding-bottom: 10px;}
	/* newletter / socials */
	.payment img{margin: 0 auto;}
	.page-footer .block-newletter{margin: 0 0 20px;}
	.sidebar .bg-newletter .block.block-subscribe .block-content {padding: 15px;}
	.bg-newletter .block-subscribe .input-box .subscribe-panel{width: auto;}
	.block-subscribe .input-box,.block-subscribe .block-title{width: 100%;}
	.block-subscribe .input-box{padding: 10px 0 0;}
	.main-download a.marl {margin-right: 0;}
	.social-link{margin-right: 10px;}
	.cms-index-index .page-main-pal.container .product-quickview .page-title-wrapper{padding-right: 0;padding-left: 0;}
	/* sidebar */
	.sidebar .block .block-content,.block-tagclaud .tagclaud-hld {padding: 18px 0px;}
	.block.block-compare .empty {padding: 20px 10px;}
	/* Product Item */
	.category-products.grid .per-product{min-height: 355px;}
	.products-list .item .product-item-details{padding:  20px 15px;}
	.products-list .product-reviews-summary .reviews-actions .action {font-size: 11px;padding: 0 8px 0 8px;}
	.all-products{font-size: 12px;line-height: 40px;}
	.cms-page-mix-product .content-products .products .slick-prev {left: 0;}
	.cms-page-mix-product .content-products .products .slick-next {right: 0px;}
	/* About, Contact */
	.contact-index-index .page-title-wrapper .page-title{max-width: 970px;}
	.company-worker .item .hr span.first{padding-top: 45px;}
	.form-cart button.button, .form-cart button, .form-cart .cart .continue{padding: 0 20px;}
}	

@media(max-width:991px) {
	/* hidden on mobile */
	.page-header{border: 0;}
	.cms-index-index .header-container-fixed, .header-container-fixed,.cms-index-index .header-container-fixed .main-fix,.page-products .header-container-fixed, .catalog-product-view .header-content.header-container-fixed{position: static;animation-duration: 0;animation-fill-mode: none;animation-name: none;box-shadow: none;background: transparent !important;}
	.menu-mobile-none,.quickview,#header-offer,.slide-vertiacal .vertical-align-left{display: none !important;}

	.row.custom-row {margin-left: -15px;}
	.header-slider-left {padding-left: 15px;padding-right: 15px;}
	.slide-showcase .container{padding: 0;}
	.slide-showcase .header-slider-left,.cms-page-countdown-products{width: 100%;}
	.cms-page-countdown-products{margin-top: 20px;}
	.home-slider .slick-slide.slick-active .figcaption .caption1,.home-slider .slick-slide.slick-active .figcaption .text-slide2 .caption3{font-size: 22px;line-height: 22px;}
	.home-slider .slick-slide.slick-active .figcaption .caption2{font-size: 22px;}
	.home-slider .slick-slide.slick-active .figcaption .caption3{font-size: 16px;margin: 0;}
	.home-slider .slick-slide.slick-active .figcaption .caption4{margin-top: 0;font-size: 16px;}

	/* Logo Search and Cart */
	.header-top{text-align: center;}
	.header-content { padding: 18px 0 0;}
	.main-header .support span{line-height: normal;}
	.header .top-mobile,.header .welcome-msg{float: none !important;display: inline-block;clear: both;vertical-align: middle;width: auto;text-align: center;}
	.tool-setting{padding: 0;float: none;text-align: center;}
	.top-right .tool-setting,.top-right .header.links,.below-column,.alo-social-top, .links-wrapper-separators,.tool-setting .header-setting,.top-link-product{float: none;display: inline-block;vertical-align: middle;}
	.content-logo{width: 100%;margin: 0 0 15px;text-align: center;}
	.header-logo{position: relative;}
	.header .logo{display: inline-block;vertical-align: middle;margin: 0 auto;max-width: 300px;padding-left: 20px;}
	.fixed-mobile{width: 100%;}
	.hidden-top-bar .alo-toggle .toggle-tab.mobile{display: none !important;float: none;position: relative;z-index: 2;text-align: center;font-size: 20px;line-height: normal;}
	.tool-topsearch.toggle-tab-mobile .toggle-content{transform: none;left: auto;right: 0;}
	.header-icons .tool-header{float: none;text-align: center;margin-bottom: 10px;}
	.tool-padding,.minicart-wrapper{float: none;display: inline-block;text-align: left;}
	.header-icons{position: static;}

	.mean-container a.meanmenu-reveal{padding: 15px;}
	.nav-sections .mean-container .mean-nav ul li.home a span.icon,
	.nav-sections-item-content .vmagicmenu,.nav-sections-item-content .magicmenu .nav-desktop,.header .magicmenu .level0 .level-top img{display: none !important;visibility: hidden;}
	.nav-sections .mean-container .mean-nav ul.nav-mobile{display: block !important;}
	.menu-mobile .nav-toggle,.header-logo .nav-toggle{display: inline-block;position: static;line-height: normal;padding: 0px;vertical-align: middle;top: 50%;left: 0;}
	.header-logo .nav-toggle{width: 30px;}
	.nav-before-open.nav-open .header-logo .nav-toggle{-webkit-transform: none;-ms-transform: none;-o-transform: none;transform: none;}
	.nav-toggle { cursor: pointer;display: block;font-size: 0;text-decoration: none;top: 0px;z-index: 14;right: 50px;}
	.nav-toggle:before {display: inline-block;font-size: 30px; font-weight: normal;line-height: inherit;overflow: hidden;text-align: center;vertical-align: middle;}
	.nav-sections {background: #666 none repeat scroll 0 0;height: 100%;left: calc(-1 * (100% - 54px));overflow: auto;position: fixed;top: 0px;transition: left 0.3s ease 0s;-moz-transition: left 0.3s ease 0s;-webkit-transition: left 0.3s ease 0s;-o-transition: left 0.3s ease 0s;-ms-transition: left 0.3s ease 0s;width: calc(100% - 54px);}
	.nav-open .nav-sections {left: 0;z-index: 99;box-shadow: 0;}
    .nav-before-open .page-wrapper {height: 100%;left: 100%;overflow: visible;position: relative;transition: left 0.3s ease 0s;-moz-transition: left 0.3s ease 0s;-webkit-transition: left 0.3s ease 0s;-o-transition: left 0.3s ease 0s;-ms-transition: left 0.3s ease 0s;}
    /* .nav-open .page-wrapper {left: calc(100% - 0px);} */
    .nav-before-open body {height: 100%;overflow: hidden;position: relative;width: 100%;}
    .nav-before-open body.cms-index-index{background-color: #fff;}
	.nav-before-open {height: 100%;width: 100%;}

	.nav-open .nav-toggle:after {background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;content: "";display: block;height: 100%;position: fixed; right: 0;top: 0;width: 100%;z-index: 1;}
	.nav-before-open.nav-open .nav-toggle{background-color: #333;height: 30px;line-height: 26px;left: auto;position: fixed;right: 0;top: 0;width: 30px;text-align: center;}
	.nav-before-open .nav-toggle:before{position: static;content: "\f00d";font-family: FontAwesome;color: #fff;font-size: 20px;}
	.nav-before-open .nav-toggle:hover:before{color: #fff;}
	.mean-container .mean-bar, .mean-container .mean-bar * {box-sizing: content-box;}

	.alo-blog .post-description{padding-bottom: 10px;}
	.alo-blog .block.widget{margin-bottom: 0 !important;}
	.cms-index-index .sidebar.sidebar-additional{padding-bottom: 0px;padding-top: 0px;}
	.bg-newletter .block-subscribe .input-box .visible .control, .bg-newletter .block-subscribe .actions,.bg-newletter .block-subscribe .control .mage-error{position: static;}
	.block-subscribe .input-box,.block-subscribe .block-title{width: 100%;}
	.block-subscribe .input-box{padding: 10px 0 0;}
	 /* Megashop, Magicproduct, Magiccategory */
	 .product-title .magictabs .item .title, .block-title-tabs h3,.alo-brand .title.item span,.page-footer .block-title.heading,.block-subscribe .block-content .block-title .title,.block-newletter .block-subscribe .block-title p,.block-subscribe .block-title strong{font-size: 15px;}
	.cms-page-mix-product{margin-top: 30px;}
	.content-products .products .slick-next,.content-products .products .slick-prev{-webkit-transform: translate(0px, 0px);-ms-transform: translate(0px, 0px);transform: translate(0px, 0px);}
	.box-products .block-title-tabs{position: relative;}
	.box-products .block-title-tabs .toggle-tab{background-color: #fff;display: block !important;position: absolute;right: 0px;top: 30px;line-height: normal;font-size: 21px;cursor: pointer;color: #666;}
	.box-products.product-title .magic-category .block-title-tabs .toggle-tab{display: none !important;}
	.box-products .block-title-tabs .magictabs.toggle-content{display: none;position: absolute;top: 57px;right: 0;z-index: 50;background-color: #fff;float: none;padding: 10px 20px !important;box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);-o-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);-ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);}
	.box-products .block-title-tabs .magictabs.toggle-content.visible{display: block;}
	.box-products .block-title-tabs.toggle-visible .toggle-tab .fa{display: none;}
	.box-products .block-title-tabs.toggle-visible .toggle-tab:before{content: "\f00d";font-family: FontAwesome;}
	.box-products .megashop .magictabs .item,.box-products .megashop .magictabs .item .title,.box-products .magic-category .magictabs .item,.box-products .magic-category .magictabs .item .title{display: block;}
	.cat-view-all{padding: 0 13px;line-height: 35px;}
	.products-grid .product-name{overflow: visible;height: auto;}
	.custom-product.custom3{clear: both;}
	.cms-page-mix-product .content-products .products .slick-prev {left: 0;}
	.cms-page-mix-product .content-products .products .slick-next {right: 0px;}
	.block-custom-product .per-product .products-textlink,.block-custom-product .per-product .images-container{width: 100%;}
	.block-custom-product .per-product .products-textlink{padding: 15px 8px 0;}
	.block-custom-product .magicproduct .products .item{min-height: 400px;}
	
	.box-products-one .products-grid .item{min-height: 370px;}
	.box-products-one .products-grid .item:nth-child(1), .box-products-one .products-grid .item:nth-child(2), .box-products-one .products-grid .item:nth-child(3), .box-products-one .products-grid .item:nth-child(4){border: 0;}
	.one-products .product-items .product-item:nth-child(4n+1):after{display: block;}
	.category-products .product-items .product-item:nth-child(3n+1):after{display: block;}
	.category-products .product-items .product-item:nth-child(2n+1):after{display: none;}
	.toolbar-amount,.modes-label{float: none;}
	.toolbar-bottom .toolbar-products .toolbar-amount{display: block;}
	.products-list .item .product-item-details {width: 65%;}
	.products-list .images-container{width: 35%;}
	.products-list .item .products-textlink,.products-list .item .product-item-inner{width: 100%;float: none;}
	.products-list .item .products-textlink{padding: 0;}
	.products-list .item .product-item-inner{min-height: inherit;margin-top: 10px;}
	.socials{float: none;}
	.payment,.main-download{width: 100%;clear: both; margin-top: 45px;}
	.main-download a.marl {margin-right: 10px;}
	.main-download a.marl,.main-download a.marr{margin-bottom: 10px;}
	.col-custom-footer-2{margin-top: 20px;}
	/* About, Contact */
	.our-works .custom-mobile{margin-bottom: 30px;}
	.company-worker .item .img{width: 270px;margin: 0 auto;}
	.company-worker .info{text-align: center;}
	.company-worker .item .hr span.first{padding-top: 35px;font-size: 17px;}
	.company-worker .item .hr span.last{font-size: 30px;line-height: 30px;}
	.onclick .tool-onclick .toggle-content,.contact-form .fix-width{width: 100%;}
	.contact-form .fix-width:first-child{margin-bottom: 30px;}
	.locations .single-store,.locations .column_right{width: 50%;}



	/*  */
	.wk-marketplace-label{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.footer-2-item:first-child{
		order: 1;
		margin-bottom: 30px;
	}
	.footer-2-item:nth-child(2){
		order: 4;
	}
	.footer-2-item:nth-child(3){
		order: 3;
	}
	.footer-2-item:last-child{
		order: 2;
		margin-bottom: 30px;
	}


}

@media (min-width: 768px) and (max-width: 991px) {
	.container {padding-left: 15px;padding-right: 15px;}
	.top-banner .container-offer{width: 750px;}

	/* banner, newsletter */
	.popup-newsletter .modal-inner-wrap{height: auto !important;}
	.sidebar .bg-newletter .block.block-subscribe .block-content{padding: 10px;}

	.toolbar-products .pages,.toolbar-bottom .toolbar-products .pages{float: none;margin: 10px 0 0;width: 100%;}
	.modes{clear: both;display: inline-block;float: none; margin: 0 auto;width: 100%;}
	.modes-mode,.pages li{float: none;}
	.data.table .custom-qty{width: 40px;}
	.cart-container .cart.main .action{margin-bottom: 10px;}
	.link-view{display: none;}
	.image-inner img{width: 100%;}
	.item_inner .img img{margin: 0 auto;}
	.limiter, .sorter{float: none;}
    .page-layout-2columns-left .product-view .product.media, .page-layout-2columns-right .product-view .product.media, .page-layout-3columns .product-view .product.media,
    .page-layout-2columns-left .product-view .product-info-main, .page-layout-2columns-right .product-view .product-info-main, .page-layout-3columns .product-view .product-info-main{width: 100%;}
	.block-viewed .block-content, .block-reorder .block-content{padding:0 10px;}
	.block-layered-nav dd{padding: 0 0 10px;}
	.swatch-link, .swatch-label{font-size: 10px}
	#narrow-by-list dd .swatch-link{margin-right: 0;}
	
	/* sidebar */
	.sidebar .block .block-content {padding: 18px 0px;}
	.block.block-compare .empty {padding: 20px 10px;}
	.sidebar .mean-container .mean-bar, .sidebar .mean-container .mean-bar *{box-sizing: inherit;}
	.sidebar .nav-accordion {padding: 13px 15px 0;}
	ul.nav-accordion ul {padding: 0 0 0 10px;}
	ul.nav-accordion li > ul.submenu > li > a{padding-left: 0;}
	ul.nav-accordion li a span {font-size: 14px;}
	.filter-options .filter-options-title{font-size: 14px;padding: 0 5px 10px;}
	.filter-options .filter-options-content{padding: 15px 10px 10px;}
	.sidebar .block .block-title,.accor-title{padding: 15px 5px;}
	.sidebar .block .block-title strong, .sidebar .magictabs .item.activated .title,.accor-title,.about-us-content .box-content .title, .detail-about .box .title, .right-detail-about .title{font-size: 16px;}
	.swatch-option.text{margin-right: 12px;}
	.filter-options .filter-options-content .item a,.filter-options .filter-options-content .item a span{font-size: 14px;}
	.filter-options .filter-options-content .item:before{padding-right: 5px;}
	.sidebar .block-custom-product .images-container,.sidebar .block-custom-product .products-textlink{width: 100%;}
    .sidebar .block-custom-product .products-textlink{padding: 10px 0 0;}
	#narrow-by-list dd .configurable-swatch-list li, #narrow-by-list dd ol.configurable-swatch-list li{width: 100%;}
	.category-products.grid .per-product{min-height: 375px;}
	/* Product Page */
	.page-layout-1column .product-view .product-primary-column .product.media,.page-layout-1column .product-view .product-primary-column .product-info-main{width: 100%;}
	.page-layout-1column .product-view .product-primary-column .product-info-main{margin-top: 30px;}
	.product-view .product-shop .no-display{display:none !important;}
	.product.data.items .items-tabs .item a{line-height: normal;padding: 10px 30px;}
	/* Policy / service */
	.policy .policy-box{width: 50%;}
	.policy .policy-box .box-content{margin-bottom: 10px;}
	/* Footer newletter / socials */
	.col-custom-footer-3{clear: both;}
	.block-subscribe .control .mage-error{position: absolute;}
	.block-subscribe .control .input-text.mage-error{position: static;}
	/* cart checkout */
	.opc-estimated-wrapper .minicart-wrapper{display: none;}
	.checkout-payment-method .payment-methods {margin: 0 !important;}
	.checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .multicheckout .action.primary{padding: 0 30px;}
	.cart-container .cart-summary,.cart-container .form-cart{width: 100% !important;float: none !important;top: 0 !important;}
	.collapsible{margin-top: 15px;clear: both;}
	.block-footer-bottom .footer .block-title{font-size:15px;}
	.clearboth{clear: both;}
    .cart-table td {padding: 15px 13px;}
    .data-table tbody tr td .product-name a, .data-table tbody tr td .cart-price .price{font-size: 12px;}
}

/* Iphone 5 landscape */
@media(max-width:767px) {
	.container { padding-left: 15px;padding-right: 15px;}

	.nav-sections-item-content .vmagicmenu,.nav-sections-item-content .magicmenu .nav-desktop,.sidebar .accordion-container,.header .magicmenu .level0 .level-top img{display: none !important;visibility: hidden;}
	header.page-header .nav-sections-item-content {box-sizing: border-box;float: right;margin-left: -100%;margin-top: 20px;width: 100%;}
	header.page-header .nav-sections .switcher {border-bottom: 1px solid #888;border-top: 0;font-size: 15px;font-weight: 400;height: auto;margin: 0;padding: 0px 20px;text-align: left;}
	header.page-header .nav-sections .switcher-trigger strong:after{display: none;}
	header.page-header .nav-sections .switcher .options, footer.page-footer .nav-sections .switcher .options{padding: 12px 0;margin: 0;}
	header.page-header .nav-sections .top-form-language .switcher .options:before{display: none;}
	header.page-header .nav-sections .nav-sections-item-title{background: #999 none repeat scroll 0 0;border-color: #999;width: 50%;display: none;}
	header.page-header .nav-sections .nav-sections-item-title.active{background: transparent;border: 0;}
	header.page-header .nav-sections .section-item-title .nav-sections-item-switch{font-size: 15px;color: #fff;}
	header.page-header .nav-sections .section-item-title.active .nav-sections-item-switch {color: #fff;}
	header.page-header .nav-sections .switcher .options:before{display: none;}
	header.page-header .nav-sections .switcher-options strong span, header.page-header .nav-sections .switcher .options .action{color: #fff;}

	/* Slide main */
	.home-slider .slick-slide.slick-active .figcaption .caption1, .home-slider .slick-slide.slick-active .figcaption .text-slide2 .caption3{font-size: 18px;line-height: 18px;}
	.home-slider .slick-slide.slick-active .figcaption .caption2{font-size: 18px;}
	.home-slider .slick-slide.slick-active .figcaption .text-slide2 .caption2, .home-slider .slick-slide.slick-active .figcaption .text-slide3 .caption2{font-size: 16px;line-height: 16px;}
	.home-slider .slick-slide.slick-active .figcaption .caption3,.home-slider .slick-slide.slick-active .figcaption .caption4{font-size: 14px;}
	.home-slider .slick-slide.slick-active .figcaption .text-slide2 .caption1 {margin: -10px 0 10px;}
	.home-slider .slick-slide.slick-active .figcaption .text-slide2 .caption1 span{font-size: 50px;}
	.home-slider .slick-slide.slick-active .figcaption .btn-shop{font-size: 13px;line-height: 30px;padding: 0 20px;}
	.home-slider .slick-arrow{top: 35%;width: 35px;height: 50px;line-height: 50px;}
	.home-slider .slick-arrow.slick-prev:before, .home-slider .slick-arrow.slick-next:before{line-height: 50px;}
	/* Policy / service */
	.policy .policy-box{width: 100%;margin: 0 0 20px;}
	.policy .policy-box .box-content{border-right: 0;text-align: left;}
	/* banner, newsletter */
	.banner-show-3{margin-top: 40px;}
	.sidebar-additional-custom .banner-boder-zoom,.banner-show-3 .banner-boder-zoom{max-width: 370px;margin: 0 auto;}
	.banner-show-2 .banner-boder-zoom{max-width: 430px;margin: 0 auto 20px;}
	.cms-static-popup .static-popup-right{padding-left: 20px;}
    .popup-newsletter.modal-popup.modal-slide{left: 0;padding: 0 30px;right: 0;}
    .popup-newsletter .modal-inner-wrap{width: 100% !important;height: auto !important;background-image: none !important;background-color: #ffffff;}
	#fancybox-wrap ,#fancybox-overlay{display: none !important;}
	#popup-newsletter .block-content .promotions{margin: 0;text-align: center;}

	/* Megashop */
	.megashop .content-products .products .slick-arrow,.content-products .products .slick-arrow,.shopbrand .slick-arrow,.box-up-sell .products .slick-arrow, .crosssell .products .slick-arrow, .block-related .products .slick-arrow, .post-bottom .related .products .slick-arrow{visibility: visible;opacity: 1;width: 40px;height: 40px;line-height: 40px;}
	.content-products .products .slick-next,.content-products .products .slick-prev,.shopbrand .slick-next,.shopbrand .slick-prev,.home-slider .slick-next,.home-slider .slick-prev,.auto-height .slick-next,.auto-height .slick-prev{-webkit-transform: translate(0px, 0px);-ms-transform: translate(0px, 0px);transform: translate(0px, 0px);}
	.content-products .products .slick-arrow:before, .shopbrand .slick-arrow:before,.auto-height .slick-arrow:before{font-size: 20px;line-height: 38px;}
	.cms-page-mix-product .custom-product .item .products-textlink{min-height: inherit;}
	.all-products{position: static;}
	
	.col-left{margin-top: 30px;}
	.block.block-reorder .no-display{display: none !important;}
	.block-collapsible-nav{position: static;}
	.dropdown-switcher ul {margin: 0;}
	.header .mini-maincart {position: static;}
	.header .cartSummary {position: relative;}
	.miniCartWrap .icons{padding: 6px;font-size: 24px;}
	.dispaly-phone{text-align: center;margin:10px 0 0;}

	.box{padding-bottom: 0;}
	.box-top img{width: 100%;}
	#magicshop_quickview_handler{display:none !important;}
	.link-view{display: none;}
	.magictabs .item span{font-size:12px;}
	.block-title h2 span.title-top {font-size: 30px;padding: 0 0 20px;}
	.image-inner img{width: 100%;}
	.contact-content .fieldset{padding-left: 0;}
	.contact-form:before{display: none;}
    /* About, Contact */
    .page-team-content >.container{padding-left: 30px;}
    .our-works .col-left, .crazy-team .col-left{padding-left: 15px;padding-right: 15px;margin-top: 0;}
	.right-detail-about{margin-top: 30px;}
	.company-worker .item{padding-bottom: 20px;}
	.onclick .tool-onclick .toggle-content,.contact-form .fix-width{width: 100%;}
	.contact-index-index .page-title-wrapper .page-title span{font-size: 30px;padding-left: 15px;}
	.contact_info .border_right{border: 0;}
	.contact-form .fix-width:first-child{margin-bottom: 30px;}
	.store_info li:last-child{padding-bottom: 30px;}
	.custom-mobile .block-title{padding-top: 30px;}
	.locations .single-store,.locations .column_right{width: 50%;}

	.toolbar-products .pages,.toolbar-bottom .toolbar-products .pages{float: none;margin: 10px 0 0;width: 100%;}
	.modes{clear: both;display: inline-block;float: none; margin: 0 auto;width: 100%;}
	.modes-mode,.pages li{float: none;}
	.limiter, .sorter{float: none;}
	.block-custom-left .item .product-item-info .product-item-details{margin: 5px 0 0 0;}
	.pagecrumbs-title, .page-title-wrapper h1 span{font-size: 18px;}
	.breadcrumbs .inner-breadcrumbs li a, .breadcrumbs li strong,.breadcrumbs li{font-size: 14px;line-height: 20px;}
	.page-layout-2columns-left .column.main, .page-layout-2columns-right .column.main,
	.page-layout-2columns-left .sidebar-main, .page-layout-2columns-left .sidebar-additional, 
	.page-layout-2columns-right .sidebar-main, .page-layout-2columns-right .sidebar-additional,
	.blog-post-view .sidebar.sidebar-additional, .blog-index-index .sidebar.sidebar-additional, .blog-index-index.page-layout-2columns-left .sidebar.sidebar-additional{width: 100% !important;}
	.page-layout-2columns-left .product-view .product.media, .page-layout-2columns-right .product-view .product.media, .page-layout-3columns .product-view .product.media,
    .page-layout-2columns-left .product-view .product-info-main, .page-layout-2columns-right .product-view .product-info-main, .page-layout-3columns .product-view .product-info-main{width: 100%;}
	.blog-index-index.page-layout-2columns-left .column.main, .blog-index-index.page-layout-2columns-right .column.main, .blog-post-view.page-layout-2columns-right .column.main, .blog-post-view.page-layout-2columns-left .column.main{width: 100% !important;}
	.page-layout-2columns-left .column.main{margin-bottom: 50px;}
	.sidebar .block-custom-product .product-items .product-item-info .product-item-photo{position: static;}
	.sidebar .block-custom-product .product-items .product-item-details{margin: 0;}

	.products-list .item .add-to-links { margin: 10px 0 0;}
	.post-list-wrapper ol.post-list{padding: 0;}
	/* Product Page */
	.page-layout-1column .product-view .product.media,.page-layout-1column .product-view .product-info-main{width: 100%;}
	.product-view .product-shop .no-display{display:none !important;}
	.product-collateral .box-reviews .data-table thead th{text-transform: capitalize;}
	.product-view .product-info-main {padding-top: 20px;}
	.product.data.items .items-tabs .item a{line-height: normal;padding: 10px 30px;}
	.nobr{font-size:12px;}
	/* cart checkout */
	.cart.table-wrapper thead{display: none;}
	.cart.table-wrapper .item .col.item{padding:25px 0 10px 75px;}
	.cart.table-wrapper .product-item-photo{position: static;max-width: 100%;}
	.cart.table-wrapper .actions-toolbar{position: relative;min-height: 20px;padding-bottom: 30px;}
	.cart.table-wrapper .actions-toolbar > .action-edit, .cart.table-wrapper .actions-toolbar > .action-delete {display: inline-block;position: absolute;right: 16px;text-decoration: none;top: 0;}
	.cart.table-wrapper .action {margin-right: 15px;}
	.cart.table-wrapper .action:last-child {margin-right: 0;}
	.cart.table-wrapper .actions-toolbar > .action-delete {right: 0;}
	.data-table tbody tr td .cart-price .price{font-size: 12px;}
	.cart-container .cart.main .action{margin-bottom: 10px;}
	.cart .page-title{padding:10px 0;}
	.minicart-wrapper .action.showcart:after{margin: 0;}
	/* login */
	.abs-discount-block-desktop .block:nth-child(1), .login-container .block:nth-child(1), .account .column.main .block:not(.widget) .block-content .box:nth-child(1), .block-addresses-list .items.addresses > .item:nth-child(1), .form-edit-account .fieldset:nth-child(1), .form-address-edit .fieldset:nth-child(1), .storecredit .block:nth-child(1), .paypal-review-discount .block:nth-child(1), .cart-discount .block:nth-child(1) {clear: both;float: none;}
	.abs-discount-block-desktop .block:nth-child(2), .login-container .block:nth-child(2), .account .column.main .block:not(.widget) .block-content .box:nth-child(2), .block-addresses-list .items.addresses > .item:nth-child(2), .form-edit-account .fieldset:nth-child(2), .form-address-edit .fieldset:nth-child(2), .storecredit .block:nth-child(2), .paypal-review-discount .block:nth-child(2), .cart-discount .block:nth-child(2) { float: none;}
	.account .column.main .block:not(.widget) .block-content .box{width: 100%;margin-bottom: 30px;}
	.login-container .fieldset::after{text-align: left;margin-bottom: 30px;margin-top: 10px;}
	.login-container .block{float: none;width: 100%;}
	.login-container .actions-toolbar .secondary{padding-top: 10px;}
	/* compare */
	.block-compare .actions-toolbar .primary,.block-compare .actions-toolbar .secondary{display: inline-block;vertical-align: middle;}
	.block-compare .actions-toolbar .secondary{padding-left: 10px;}

	.cart .crosssell{margin:20px 0 0 0;}
	.main .col-main {padding: 0 15px;}
	.product-image-gallery .gallery-image.visible {width: 100%;}
	.cart .totals {margin: 0 0 15px 0;}
	.checkout-onepage-index .main-container {padding-top: 0;}
	.customer-account-index .main-container { margin-top: 0;}
	/* Footer newletter / socials */
	.block-subscribe .input-box{margin-top: 0;}
	.block-subscribe .input-box .visible{position: relative;margin-top: 15px;}
	.footer-copyright,.introduce-paypal{float: none;text-align: center;}
	.clear-both{clear: both;}
	.page-footer .block-title.heading{margin: 0;}
	.page-footer .socials{float: none;}
	.company-inner{padding-top: 0;}
	.footer-left{padding-left: 15px;}

    .mobile-collapsible{clear: both;position: relative;}
    .mobile-collapsible .toggle-visible{margin-bottom: 20px;}
	.mobile-collapsible .toggle-tab.mobile{color: #aaa;cursor: pointer;display: block !important;font-size: 20px;line-height: normal;font-weight: bold;margin: 0;padding: 0;position: absolute;right: 0;text-align: right;top: 0;width: 100%;}
	.toggle-content{ display: none;}
	.toggle-content.visible{ display: block; padding-bottom: 15px;}
	.page-footer .toggle-tab:before{content: "\f107";font-family: FontAwesome;}
	.page-footer .toggle-visible .toggle-tab:before{ content: "\f106";}
	.narrow-by{position: relative;padding: 5px 0;outline:medium none !important;margin: 0;}
	.tool-account .toggle-content.visible{padding-bottom: 0;}


	/*  */
	.header-content .row{
		justify-content: center;
	}
	.wk-mp-sellerlist-container li{
		width: 50%!important;
		margin-bottom: 30px;
	}
	.col-custom-footer-2{
		margin-top: 30px;
	}
	.footer-2-item:nth-child(3){
		margin-bottom: 30px;
	}
	.footer-2-item > h3{
		font-size: 14px!important;
	}
}

@media only screen and (max-width: 639px) {
	.col-mobile-plus-12{width:100%}
	.col-mobile-plus-6{width:50%}
	.col-mobile-plus-4{width:30.3333333333%}
	.col-mobile-plus-3{width:25%}
	.col-mobile-plus-2{width:16.6666666666%}
	.col-mobile-plus-1{width:8.33333333333%}
	.col2-set .col-1 { width: 100%;margin-bottom: 20px;}
	.col2-set .col-2 {float: right;width: 100%;}
	.header-top-link ul.links li {float: none;display: inline-block;}
	.alo-toggle .toggle-content{left: 0;right: auto;}
	.alo-toggle .toggle-content:after{left: 40px;right: auto;}
	.home-slider .slick-slide.slick-active .figcaption .caption4{display: none;}
	#popup-newsletter .block-content{padding: 19px 25px 24px;}
	#popup-newsletter .newsletter-new{padding: 22px 0px 0;}
	.promo-panel-text.text-lage{padding: 0 0px 8px;}

	.category-banner .box-product-content .box-product {float: none;padding-right: 0px;width: 100%;}
	.category-banner .box-product-content .box-product-adv{display: none;}
	.block-custom-product .magicproduct .products .item{border: 0;min-height: inherit;}
	.block-custom-product .products-grid .item:nth-child(3n+1):after{display: block;}
	.page-footer .main-download .block-title.heading{display: block;}
	/* Contact*/
	.about-us-content .box-content .title, .detail-about .box .title, .right-detail-about .title{font-size: 15px;}
	.store-item .store_info{width: 100%;}
    .single-store,.column_right{width: 100%;}
    .locations .single-store,.locations .column_right{width: 100%;}
    .locations .column_right{padding: 0 0 30px;}
    .locations .container{padding-right: 0;padding-left: 0;}
    /* Privacy Policy */
	.cms-page-view .data-table tbody th, .cms-page-view .data-table tbody td{display: block;}
	.cms-page-view .data-table thead{display: none;}
	.search-form .form-list input.input-text,.search-form .guest-select{width: 100% !important;}

	.account-login .content { min-height: 100px;}
	.account-login .buttons-set {margin: 0; padding: 0;}
	.modes{float: none;vertical-align: middle;display: inline-block;}
	.modes, .toolbar-products .pages,.toolbar .limiter, .toolbar .sorter{padding: 5px 0;vertical-align: middle;}
	.sorter{padding: 0;}
	.product.data.items > .item.title{display: block;width: 100%;margin: 0;padding: 0;background-color: #eee;}
	.product.data.items > .item.title.active{background-color: #fff;}
	.product.info.detailed .product.data.items > .item.title .switch::after,.product.data.items > .item.title::before{display: none;}
	.product.data.items > .item.title > .switch{padding: 10px;}
	.form-wishlist-items .actions-toolbar button{margin:0 0 5px 0;}
	.product.data.items .items-tabs,.product.data.items .data-tabs-content{float: none;width: 100%;}
	.product.data.items .data-tabs-content{border-left: 0;}

	.form-address-edit .fieldset,.account .column.main .block:not(.widget) .block-content .box,.wishlist-index-index .products-grid.wishlist .product-item,.login-container .block,.form.create.account > .fieldset{width: 100%;}
	.account .column.main .block:not(.widget) .block-content .box{margin-bottom: 20px;}
	.account .form-address-edit .actions-toolbar{padding-top: 20px;}
	.account .form-wishlist-items .actions-toolbar{padding-bottom: 20px;}
	.account .form-wishlist-items .actions-toolbar .action{margin-bottom:10px;}
	.login-container .fieldset:after {text-align: left;}

	.toolbar-amount, .modes-label,.toolbar .limiter,.modes{display: none;}
	.toolbar .sorter{position: absolute;top: 0;right: 0;padding: 0;}
	.toolbar{margin-bottom: 0;}
	.sorter-label, .limiter .label{font-size: 12px;padding: 0 5px;}

	.sidebar .block .block-content.filter-content,.sidebar .block .block-title.filter-title,.sidebar .block.filter{border: 0;padding: 0;}
	.alocolumns:after {clear: both;content: " ";display: block;height: 0;overflow: hidden;visibility: hidden;}
	.page-products .alocolumns {padding-top: 60px;position: relative;z-index: 1;}
	.filter-options {display: none;margin: 0;}
	.filter.active .filter-options {background: #fff none repeat scroll 0 0;bottom: 0;display: block;left: 0;overflow: scroll;position: fixed;right: 0;top: 50px;z-index: 10;padding: 0;}
	.filter.active {position: relative;visibility: visible;z-index: 99;}
	.filter.active .filter-title {height: 48px;left: 0;position: fixed;right: 0;top: 0;z-index: 2;}
	.sidebar .filter-title strong {border: 1px solid #ccc;border-radius: 3px;font-weight: 400 !important;left: 15px;line-height: 16px !important;padding: 7px 10px !important;position: absolute !important;text-align: center;top: 0;z-index: 2;font-size: 14px !important;cursor: pointer;}
	.filter.active .filter-title strong:after {color: #7d7d7d;content: "\f00d";display: inline-block;font-family: FontAwesome;font-size: 16px;font-weight: normal;line-height: inherit;overflow: hidden;text-align: center;vertical-align: middle;}
	.filter.active .filter-title strong {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;box-shadow: none;color: transparent !important;display: inline-block;left: auto;right: 10px;text-decoration: none;top: 10px;cursor: pointer;}
	.filter-subtitle {display: none;}
	.filter.active .filter-subtitle {background: transparent none repeat scroll 0 0;display: block;height: 50px;left: 0;line-height: 32px;position: fixed;right: 0;top: 0;z-index: 1;}
	.filter .filter-subtitle {font-size: 20px;font-weight: 300;}
	.filter .block-subtitle {border-bottom: 1px solid #ccc;font-size: 14px;font-weight: 600;line-height: 1em;padding: 10px 10px 20px;}
	body.filter-active .page-wrapper {height: 0;margin-top: -999999em;visibility: hidden;}
	body.filter-active .page-header {display: none;}





	/*  */
	.wk-mp-header h1{
		font-size: 25px!important;
	}
	.wk-mp-header h2{
		font-size: 20px!important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
	.data-table td.last { border-bottom: 1px solid #dddddd !important;}
	.data-table tfoot {border-bottom: none;}
	.data-table thead th{border-left: 1px solid #dddddd;border-bottom: 0 none;}
	.data-table thead.hidden-phone{display:none;}
	.data-table tbody th, .data-table tbody td{border-bottom: 0;}
	.product-view .box-reviews .form-add .data-table td{border-bottom: 1px solid #DDDDDD !important;}
}

/* width < 480px */
@media only screen and (max-width: 479px) {
	.col-mobile-12{width:100%}
	.col-mobile-6{width:50%}
	.col-mobile-4{width:30.3333333333%}
	.col-mobile-3{width:25%}
	.col-mobile-2{width:16.6666666666%}
	.col-mobile-1{width:8.33333333333%}

	.content-logo {width: 100%;}
	.header-logo {text-align: center;}
	.tool-topsearch,.header-icons{width: auto;}
	.content-cart,.minicart-wrapper,.content-cart .minicart-wrapper{position: static;}
	.menu-mobile{width: 100%; margin-top: -40px;}
	.alotheme .tool-padding {margin: 0 5px 0 0;}
	.alotheme .wishlist, .alotheme .onclick{padding: 0 0 0 5px;}
	.alotheme .icons,.content-cart .minicart-wrapper .showcart .crat-icon:before{font-size: 26px;}
	.minicart-wrapper .block-minicart{width: 100%;}
	.minicart-wrapper .block-minicart:after{right: 96px;}
	.header .form-search .field.search{width: 90%;}
	.header .form-search button.button{width: 10%;}
	.header .form-search button.button span{font-size: 0;}
	.header .form-search button.button span span .seach-text, .header .form-search button.button span .fa{display: block;line-height: 30px;font-weight: normal;}

	.home-slider .text-slide{left: 20px;}
	.home-slider .slick-slide.slick-active .figcaption .btn-shop{height: 30px;line-height: 30px;font-size: 13px;margin-top: 10px;}
	.home-slider .slick-arrow,.home-slider .slick-slide.slick-active .figcaption .caption5{display: none !important;}

    /* Hot Deals newletter / socials */
	.title-social{margin-right: 0;}
	#popup-newsletter .block-content{padding: 20px;width: 100%;}
	#popup-newsletter .big-size{font-size: 40px;line-height: 40px;}
	.promo-panel-text.text-lage,.promo-panel-text .sale-off{font-size: 20px;}

	.product-shop-content{padding: 0;}
	.five-products .magicproduct, .three-products .magicproduct {padding: 0 10px 17px;}
	.block-custom-product .magicproduct:before,.block-custom-product .magicproduct:after{width: 10px;}
	.product-title .magictabs .item .title, .block-title-tabs h3,.page-footer .block-title.heading,.crosssell .block-title strong, .block-related .block-title strong,.block.related .block-title strong, .box-up-sell .block-title strong{font-size: 15px;}
	.price-box .price{font-size: 20px;}
	.all-products{font-size: 13px;line-height: 40px;}
	/* About */
	.page-team-content,.crazy-team-inner {padding-top: 70px;}
	.detail-about .left-detail-about .box,.crazy-team-slide .item{width: 100%;}
	.crazy-team-slide .item{margin: 0 0 30px;}
	.crazy-team-slide .item .team-item a img{margin: 0 auto;}
	.item-contact-info{width: 100%;}
	.store_info:before,.store_info:after{display: none;}
	.block-title h2 span {font-size: 20px;}
	.cartSummary .icon-cart {font-size: 17px;}
	.nbs-flexisel-item img {display: inline-block;}
	.cart-table td{padding: 10px;}
	.sidebar .product-items .product-item-info {width: 100%;}
	.products-list .item .product-item-details{width: 100%;padding: 0;}
	.products-list .images-container,.products-list .item .products-textlink{width: 100%;}
	.products-list .product-shop{padding-top: 10px;}
	.product-item-description{padding: 15px 0 0 0px;}
	.category-products .products-grid .item.col-mobile-12{padding-left: 10px;padding-right: 10px;}
	.product.data.items > .item.content{padding: 55px 0 20px;}
	.product-view .toggle-tabs .item, .product.data.items > .item.title{letter-spacing: 0;}
	.wishlist-index-index .products-grid.wishlist .product-item{width: 100%;}
	.product-options-bottom .add-to-cart, .product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions{float: none;margin: 0;width: 100%;}
	.product-view .product-shop .product-social-links, .product-add-form .product-social-links{margin: 0;}
	/* Contact */
	.contact-content .store-contact .store1 .store-item{width: 100%;}



	/*  */
	.wk-mp-header h1{
		font-size: 18px!important;
	}
	.wk-mp-landing-button{
		padding: 0 15px!important;
	}
	.wk-mp-sellerlist-container li{
		width: 100% !important;
		max-width: 400px;
		margin: 0 auto 30px !important;
	}
	.wk-marketplace-label{
		margin-top: 30px;
		font-size: 16px;
	}
	.wk-search .button{
		padding: 0 15px;
	}
	.wk-search input{
		padding-right: 110px!important;
	}
}

/* Iphone 4 landscape */
@media (max-width: 360px) {
	.minicart-wrapper .block-minicart:after{right: 36px;}
	.home-slider .text-slide.text-slide1, .home-slider .text-slide.text-slide3{right: auto;left: 15px;}
	.home-slider .slick-slide.slick-active .figcaption .caption4{display: none;}
	.slick-dots{bottom: 10px ! important;}
	.block-subscribe input.input-text{padding: 0 24px 0 24px;}
	.block-subscribe .actions{position: static;margin-top: 10px;}
	.social-link{margin: 0 10px 0 0;}

	.category-products .products-grid > li {width: 100%;}
	.data.table .custom-qty{width: 40px;}
	.crazy-team-slide .item{width: 100%;}
	.popup-newsletter.modal-popup.modal-slide{padding: 0 20px;}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.checkout-cart-index .col-main .page-title h1, .checkout-cart-index .col-main .page-title h2 {float: none;text-align: center;}
	.col2-set,.col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.account-login .col2-set,.account-login .col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.multiple-checkout .col2-set .col-1,.multiple-checkout .col2-set .col-2 {float: none;width: 100%;margin-bottom: 10px;}
	.my-wishlist .buttons-set {text-align: center; padding: 20px 0 0;}
	.my-wishlist thead.hidden-phone{display:none;}
	a.btn-edit, a.btn-remove{margin:0 auto;float:none;}
	.mini-contentCart .product-details a.btn-remove,.mini-contentCart .product-details a.btn-edit{float: left;margin: 0 5px 0 0;}
	.box-support ul li{margin-top:10px;}
} 

/* IPHONE 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
	.home-slider .slick-slide.slick-active .figcaption .caption3{display: none;}
	.below-column ul li a:before{margin: 0 5px;}
	#products-list .item .product-shop{ margin-top: 20px;}
}

@media only screen and (min-width: 240px) and (max-width: 319px) {
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{width: 100%;text-align: left;}
}



@media(max-width:550px){
	.wk-sellerlist-divide1{
		width: 80px!important;
		height: 80px!important;
	}
	.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap{
		background-size: cover!important;
	}
	.wk-sellerlist-divide2 .wk-name-shop{
		font-size: 15px !important;
	}
	.wk-sellerlist-divide2 > p,
	.wk-item-info .button span span,
	.wk-sellerlist-divide2 .wk-product-number,
	.wk-sellerlist-divide2 .wk-phone-number{
		font-size: 14px!important;
	}
	.wk-mp-sellerlist-container li .wk-item-info > a{
		margin: 10px!important;
	}

}



